body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-abstrato-gradiente-azul-azul-escuro-liso-com-vinheta-preta-studio_1258-68081.jpg?w=1380&t=st=1714055493~exp=1714056093~hmac=d0f31030bccf53393cf2e6bbcfed6724a273ae3f3ada5ba81e9d936039bf722a');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .delete-btn {
    color: red;
    cursor: pointer;
  }
  